@using Movies.WebUI.Dtos.CategoryDtos
@model IEnumerable<ResultCategoryWithMovieDto>


<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Takip et </p>
				<a href="#"><i class="ion-social-facebook"></i></a>
				<a href="#"><i class="ion-social-twitter"></i></a>
				<a href="#"><i class="ion-social-googleplus"></i></a>
				<a href="#"><i class="ion-social-youtube"></i></a>
			</div>
			<div class="slick-multiItemSlider">
				@foreach (var item in Model)
				{
					@foreach (var movie in item.movies)
					{
						<div class="movie-item">
							<div class="mv-img">
								<a href="#"><img src="@movie.MovieImageUrl" alt="" width="285" height="437"></a>
							</div>
							<div class="title-in">
								<div class="cate">
									<span class="blue"><a href="#">@item.categoryName</a></span>
								</div>
								<h6><a href="#">@movie.MovieName</a></h6>
								<p><i class="ion-android-star"></i><span>@movie.MovieScore</span> /10</p>
							</div>
						</div>
					}

				}


			</div>
		</div>
	</div>
</div>